.preview-course {
    text-decoration: underline;
}
.answer-form {
    .row {
        margin: 2rem 0;
        .remove-icon {
            text-align: right;
        }
    }
}
.remove {
    font-size: 1em;
    background-color: #ff6b68;
    color: white;
    font-weight: bolder;
    padding: 0.3rem 0.65rem;
    border-radius: 50%;
    cursor: pointer;
}
.left-card {
    max-height: 690px;
    overflow-y: auto;
}
.right-card {
    position: fixed;
    width: 22%;
}