.course-img {
    img {
        width: 100%;
    }
}
.course-title {
    margin-top: 1.5rem;
}
.course-meta {
    color: #4e4e4e;;
    margin-top: 1rem;
    font-size: 1.2rem;;
}

.course-date {
    margin-top: 0.8rem;
    color: #afafaf;
}