<div class="row">
    <div class="col-md-2 col-lg-2">
        <div class="card">
            <div class="card-body">
                <ul class="nav flex-column">
                    <li class="nav-item" *ngFor="let link of navLinks; index as i;"><a class="nav-link">{{link}}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-lg-10">
        <div class="card-deck">
            <div class="card" *ngFor = "let course of myCourses; index as i;">
              <img class="card-img-top" src="./assets/demo/img/headers/3.png">
          
              <div class="card-body">
                <h4 class="card-title">{{ course.title }}</h4>
                <h6 class="card-subtitle"></h6>
                <p class="card-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <button class="btn btn-danger" style="width: 100%;">VIEW</button>
              </div>
                <div class="card-footer">{{ course.date }}</div>
            </div>
          </div>
    </div>
</div>
