<div class="row">
    <div class="col-md-2 col-lg-2">
        <div class="card">
            <div class="card-body">
                <ul class="nav flex-column">
                    <li class="nav-item" *ngFor="let link of navLinks; index as i;"><a class="nav-link">{{link}}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-10 col-lg-10">
        <div class="card-deck">
            <div class="card" *ngFor = "let course of myCourses; index as i;">
              <img class="card-img-top" src="./assets/demo/img/headers/3.png">
          
              <div class="card-body">
                <h4 class="card-title">{{ course.title }}</h4>
                <h6 class="card-subtitle">{{ course.date }}</h6>
          
              </div>
            </div>
          </div>
    </div>
</div>
