<div class="card">
    <div class="card-body">
        <div class="actions">
            <a [routerLink]="" class="actions__item zmdi zmdi-trending-up"></a>
        </div>
        <div class="media">
            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
            <div class="media-body">
                <h5 class="mt-0">{{ title }}</h5>
                <p class="card-text">{{ description }}</p>
            </div>
        </div>
    </div>
</div>