.card {
    .card-body {
        .actions {
            position: absolute;
            right: 10px;
            z-index: 2;
            top: 0px;
        }
        .media {
            display: flex;
            justify-content: space-between;
            align-items: center;
            iframe {
                width: 30%;
            }
            .media-body {
                flex: none;
                width: 65%;
            }
        }
    }
}