<div class="content__inner">
  <header class="content__title">
    <h1>{{ pageTitle }}</h1>
  </header>

  <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Instructions</h4>
      
            <p>Pellentesque lacinia sagittis libero et feugiat. Etiam volutpat adipiscing tortor non
              luctus. Vivamus venenatis vitae metus et aliquet. Praesent vitae justo purus. In
              hendrerit lorem nisl, ac lacinia urna aliquet non. Quisque nisi tellus, rhoncus quis est
              sit amet, lacinia euismod nunc. Aenean nec nibh velit. Fusce quis ante in nisl molestie
              fringilla. Nunc vitae ante id magna feugiat condimentum. Maecenas sit amet urna
              massa.</p>

              <iframe width="100%" height="315" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>

          </div>
        </div>      
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Read the instructions Jhon and then type your answers below</h4>
      
            <form class="row">
              <div class="col-md-12">
                  <div class="form-group">
                      <label>Check your work before you click on submit</label>
                      <textarea class="form-control" rows="15"></textarea>
                      <i class="form-group__bar"></i>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary" btnCheckbox btnCheckboxTrue="1" btnCheckboxFalse="0" style="width: 100%">
                      SUBMIT
                    </button>
                  </div>
              </div>
            </form>
              
          </div>
        </div>      
      </div>
  </div>
</div>